<div>
  <cds-icon class="" shape="plus"></cds-icon>

  <h2 class="header-title">Find and select your favorite movies to proceed</h2>

  <br /><br /><br /><br /><br /><br />
  <form
    [formGroup]="searchForm"
    (ngSubmit)="onSearch()"
    class="search-form-container"
  >
    <div class="search-form-field">
      <clr-select-container>
        <label>Genre</label>
        <select clrSelect name="options" formControlName="genre">
          <option *ngFor="let genre of genres$ | async" [value]="genre.id">
            {{ genre.name }}
          </option>
        </select>
      </clr-select-container>
    </div>

    <div class="search-form-field">
      <label for="basic" class="clr-control-label">Year</label>
      <div class="clr-control-container">
        <div class="clr-input-wrapper">
          <input
            type="text"
            id="basic"
            class="clr-input"
            formControlName="year"
          />
          <cds-icon
            class="clr-validate-icon"
            shape="exclamation-circle"
          ></cds-icon>
        </div>
      </div>
    </div>

    <div
      *ngIf="searchForm.value.genre && searchForm.value.year"
      class="search-form-field"
    >
      <label for="basic" class="clr-control-label">Title</label>
      <div class="clr-control-container">
        <div class="clr-input-wrapper">
          <input
            type="text"
            id="basic"
            class="clr-input"
            formControlName="title"
          />
          <cds-icon
            class="clr-validate-icon"
            shape="exclamation-circle"
          ></cds-icon>
        </div>
      </div>
    </div>

    <button
      *ngIf="hasSearched"
      class="btn btn-danger-outline btn-sm search-button"
      (click)="clearSearch()"
    >
      Clear
    </button>
  </form>

  <ng-container *ngIf="movies$ | async as movies; else noResults">
    <ul *ngIf="movies.length > 0; else noResults">
      <li *ngFor="let movie of movies">
        <div>
          <div
            class="poster-container"
            [class.selected]="isMovieSelected(movie)"
          >
            <img
              [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
              alt="{{ movie.title }}"
              class="poster-image"
              (error)="fallbackImage($event, movie)"
            />
          </div>
          <div class="movie-info">
            <span class="add-button-container">
              <button
                class="btn btn-success"
                [disabled]="isMovieSelected(movie)"
                (click)="selectMovies(movie)"
              >
                <clr-icon shape="home"></clr-icon>
              </button>
            </span>
          </div>
        </div>
        <span>
          <p *ngIf="shouldShowEllipsis(movie.title)" class="movie-title">
            {{ movie.title | slice : 0 : 16 }}...
            <a
              *ngIf="shouldShowEllipsis(movie.title)"
              href="..."
              role="tooltip"
              aria-haspopup="true"
              class="tooltip tooltip-md tooltip-bottom-right"
            >
              <cds-icon shape="info-circle" size="24"></cds-icon>
              <span class="tooltip-content">{{ movie.title }}</span>
            </a>
          </p>
        </span>

        <p class="movie-title" *ngIf="!shouldShowEllipsis(movie.title)">
          {{ getTruncatedTitle(movie.title) }}
        </p>
      </li>
    </ul>
  </ng-container>

  <ng-template #noResults>
    <div class="no-results-container">
      <img
        src="./../../../assets/images/not-found.png"
        alt="No results found"
      />
    </div>
  </ng-template>

  <div class="next-button">
    <button class="btn btn-primary" (click)="saveMovies()">Next</button>
  </div>

  <div class="tmdb-api-credits">
    <span>
      API Powered by
      <a a href="https://www.themoviedb.org/" target="_blank"
        ><img class="tmdb-logo" src="./../../../assets/images/tmdb-logo-2.svg"
      /></a>
    </span>
  </div>
</div>
