<div>
  <mat-toolbar *ngIf="authService.isAuthenticated">
    <div class="user-info-container" routerLink="/">
      FlickSense |
      <span>
        <img
          class="avatar"
          src="./../assets/images/milla-chow.png"
          alt="User Profile Picture"
        />
      </span>
      <span>
        {{ (authService.currentUser | async)?.UserInfo?.name }}
      </span>
    </div>

    <span class="example-spacer"></span>
    <button
      mat-button
      *ngIf="!authService.isAuthenticated"
      routerLink="/register"
    >
      Register
    </button>
    <button
      mat-button
      *ngIf="authService.isAuthenticated"
      (click)="logoutUser()"
    >
      Logout
    </button>
  </mat-toolbar>
</div>

<router-outlet></router-outlet>
