.login-container {
  display: flex;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
  font-weight: 500;
  font-size: 1.5rem;
}

.logo {
  width: 110px;
}

mat-card {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #1e1e1e;
  padding: 20px;
}

mat-card-title {
  text-align: center;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.account-container {
  margin-top: 20px;
}

.account-login-link {
  color: #fff;
}

@media (max-width: 768px) {
  mat-card {
    margin: 20px;
  }
}
