<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="card-wrapper">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Login to FlickSense</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" type="email" />
          <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">
            Email is required.
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.errors?.['email']">
            Please enter a valid email address.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" />
          <mat-error *ngIf="loginForm.get('password')?.errors?.['required']">
            Password is required.
          </mat-error>
          <mat-error
            *ngIf="loginForm.get('password')?.errors?.['minlength']"
          >
            Password must be at least 6 characters long.
          </mat-error>
        </mat-form-field>

        <div class="button-wrapper">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="loginForm.invalid"
          >
            Login
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</form>
