<div class="back-button">
  <button mat-button routerLink="/">
    <mat-icon class="back-icon">arrow_back</mat-icon>
    <span class="back-text">Go back</span>
  </button>
</div>

<div class="user-profile">
  <div class="content">
    <h2>Discover the sentiment behind your review!</h2>

    <ng-container *ngIf="userMovies$ | async as movies; else noResults">
      <div class="sentiment-legend">
        <div class="chip happy-chip">Happy</div>
        <div class="chip neutral-chip">Neutral</div>
        <div class="chip sad-chip">Sad</div>
      </div>

      <p class="instructions">
        On the movie poster, click the review icon to start.
      </p>

      <ul *ngIf="movies.length > 0; else noResults">
        <li *ngFor="let movie of movies">
          <div
            [ngClass]="{
              'add-happy-border': movie.sentiment_result?.isHappy,
              'add-neutral-border': movie.sentiment_result?.isNeutral,
              'add-sad-border': movie.sentiment_result?.isSad
            }"
          >
            <div class="poster-container">
              <img
                [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
                alt="{{ movie.title }}"
                class="poster-image"
                (error)="fallbackImage($event, movie)"
              />
            </div>
            <div class="movie-info">
              <span>
                <button
                  class="add-review-container"
                  mat-icon-button
                  color="accent"
                  (click)="addMovieReview(movie)"
                >
                  <mat-icon>rate_review</mat-icon>
                </button>
              </span>
            </div>
          </div>
          <p
            class="movie-title"
            *ngIf="shouldShowEllipsis(movie.title)"
            matTooltip="{{ movie.title }}"
          >
            {{ movie.title | slice : 0 : 16 }}...
          </p>
          <p class="movie-title" *ngIf="!shouldShowEllipsis(movie.title)">
            {{ movie.title }}
          </p>
        </li>
      </ul>
    </ng-container>

    <ng-template #noResults>
      <div class="no-results-container">
        <img
          src="./../../../assets/images/not-found.png"
          alt="No results found"
        />
      </div>
    </ng-template>
  </div>
</div>
